/////////////////////////////////////////////////
// LOGO

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}
/////////////////////////////////////////////////
// SEARCH

.search {
  //no grow or shrink, take up 40% of header
  flex: 0 0 40%;
  //container for "input" "button" "icon"
  display: flex;
  align-items: center; //center items along cross-axis
  justify-content: center; //center items along the main axis

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    //move to the right so button will move on top of input
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    //change color of icon
    fill: var(--color-grey-dark-3);
  }
}
/////////////////////////////////////////////////
// USER NAVIGATION

.user-nav {
  //container for "icon-box" and "user"
  display: flex;
  align-items: center; //align items along the cross-axis
  //strech all items to fit the container
  align-self: stretch;

  //select direct children of "user-nav" (icon-box and user)
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    //container for "icon" "notification" "user-photo" and "user-name"
    display: flex;
    align-items: center;
  }


  //select direct children of "user-nav" on their hover state
  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;

    //position notification above icon
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    //center text in notification
    display: flex;
    align-items: center; //vertically
    justify-content: center; //horizontally
  }


  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}


/////////////////////////////////////////////////
// SIDE NAVIGATION

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item {
    position: relative;

    //select all items exept the last child
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &__item::before {
    //create a small line that becomes visible and expands to the right side when hovered
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    //initial
    transform: scaleY(0);
    transition: transform .2s,
                width .4s cubi c-bezier(1, 0, 0, 1) .2s,
                background-color .1s;
  }

  //hover state of the item and --active should be the same
   &__item:hover::before,
   &__item--active::before {
     //scales in the y direction from the center (origin)
     transform: scaleY(1);
     width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 2;

    //container for SVG and text
    display: flex;
    align-items: center; //vertically
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    //current color of the parent element / current element
    fill: currentColor;
  }
}

/////////////////////////////////////////////////
// LEGAL TEXT
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;

}
