.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  //container for "logo" "search" "user-nav"
  display: flex;
  // divide the empty space between the elements evenly along the main axis
  justify-content: space-between;
  //center the elemments long the cross axis
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  //flex-grow flex-shrink flex-basis
  flex: 0 0 18%;

  //container for "side-nav" and "legal"
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.hotel-view {
  background-color: #fff;
  //occupy the entire remaining space (flex-grow: 1)
  flex: 1;

  //testing purposes
  background-color: lightblue;
  height: 80rem;
}
